apiVersion: apps/v1
kind: Deployment
metadata:
  name: longevity-app
  labels:
    app: longevity-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: longevity-app
  template:
    metadata:
      labels:
        app: longevity-app
    spec:
      containers:
        - name: longevity-app
          image: IMAGE_PLACEHOLDER
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
